<!DOCTYPE html>
<html>
  <head>
    <title>FinalP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="area"></div><nav class="main-menu">
           <ul class= "row adjust">
               <li class="col-lg-2">
                  <a href="#">
                     <div class="nav-button">
                    <%=image_tag("sombrero.png",:class =>"sombrero") %>
                      <%= link_to "DINNER", '/dinner', :class =>"dinner" %>
                  </a>
                </div>
               </li>


               <li class="col-lg-2 has-subnav">
                   <a href="#">
                      <div class="nav-button">
                      <%=image_tag("lunch.png",:class =>"lunch")%>
                       <!-- < span class="nav-text" > -->
                        <%= link_to "LUNCH", '/lunch'%>
                      </div>
                       <!-- < /span > -->
                   </a>

               </li>
               <li class="col-lg-2 has-subnav">
                   <a href="#">
                      <div class="nav-button">
                      <%=image_tag("brunch.png",:class =>"brunch")%>
                       <!-- < span class="nav-text" > -->
                            <%= link_to "BRUNCH", '/brunch'%>
                       <!-- < /span > -->
                   </a>
                 </div>

               </li>

               <li class="col-lg-2 has-subnav">
                   <div class="nav-button">
                      <%=image_tag("bottle.png",:class =>"bottle")%>
                       <!-- < span class="nav-text" > -->
                      <%= link_to "DRINKS",'/drinks'%>

                       <!-- < /span > -->
                   </div>

               </li>

               <li class="col-lg-2">
                  <div class="nav-button">
                   <a href="#">
                       <%=image_tag("contact.png",:class =>"contact")%>
                       <!-- < span class="nav-text" > -->
                         <%= link_to "CONTACT", '/contact'%>

                       <!-- < /span > -->
                   </a>
                 </div>
               </li>

               <li class="col-lg-2">
                  <a href="#">
                     <div class="nav-button">
                      <%=image_tag("map.png",:class =>"map")%>
                       <!-- < span class="nav-text" > -->
                        <%= link_to "MAP", '/map'%>
                       <!-- < /span > -->
                   </a>
                 </div>
               </li>

           </ul>
       </nav>
  </head>
  <body>


    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>

  </body>
</html>
